.empty__cart {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.empty__cart > h1 {
  width: 90%;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  font-weight: 900;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.5);
  padding-top: 100px;
  height: 550px;
}
.cart__container {
  height: 650px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  display: flex;
}
.cart__outer-left {
  margin-left: 10%;
  width: 36%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.1);
}
.cart__inner {
  width: 90%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}
.cart__image {
  width: 150px;
  height: 100px;
  border-radius: 20px;
}
.cartdetails__container {
}
.cartdetails {
  width: 200px;
  display: flex;
  flex: row;
  margin: 5px;
  align-items: center;
}
.cartdetails > p {
  font-size: 14px;
  margin: 0;
  width: 50px;
}
.cartdetails > span {
  font-size: 15px;
  font-weight: 600;
  color: rgb(79, 72, 72);
}
.cart__btn {
  align-items: center;
  height: 30px;
  display: flex;
  width: 80px;
  justify-content: space-between;
  background-color: white;
  border-radius: 5px;
  border: 1px solid white;
}
.cart__btn > button {
  height: 30px;
  background-color: gray;
  border-style: none;
  width: 28px;
  color: white;
  font-size: 19px;
  font-weight: 900;
  border-radius: 5px;
  cursor: pointer;
}
.cart__btn > button:hover {
  background-color: black;
}
.cart__outer-right {
  width: 44%;
  background-color: rgba(0, 0, 0, 0.1);
}
.cart__outer-right-inner {
  margin: 20px 10px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  width: 94%;
  height: 60%;
}
.cart__outer-right-inner-title {
  height: 40px;
  padding: 10px;
  color: white;
  background-color: rgb(119, 12, 12);
  font-size: 30px;
  font-weight: 700;
}
.cart__table {
  width: 100%;
  text-align: center;
}
.table__header {
  height: 25px;
  color: white;
  font-weight: 800;
  background-color: rgb(38, 73, 47);
}
.cart__table tr {
  border: 2px solid black;
}
.cart__table td {
  width: 20%;
}
.table__data {
  font-size: medium;
  font-weight: 400;
  color: rgb(56, 56, 56);
}
.cart__buttons {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.cart__buttons > button {
  cursor: pointer;
  width: 50%;
  font-weight: 700;
  height: 40px;
  font-size: larger;
  color: white;
  background-color: rgb(0, 0, 149);
}
.cart__buttons > button:hover {
  background-color: blue;
}
